{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dot-ai.serviceAccountName" . }}
  labels:
    {{- include "dot-ai.labels" . | nindent 4 }}
  {{- $annotations := include "dot-ai.annotations" (dict "global" .Values.annotations "local" nil) -}}
  {{- if $annotations }}
  annotations:
    {{- $annotations | nindent 4 }}
  {{- end }}
{{- end }}