{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading">Log in to {{ issuer }}</h2>

  {{ if .Invalid }}
    <div class="dex-error-box">Invalid {{ .UsernamePrompt }} and password.</div>
  {{ end }}

  <form method="post" action="{{ .PostURL }}">
    <div class="theme-form-row">
      <label for="login">{{ .UsernamePrompt }}</label>
      <input type="text" id="login" name="login" value="{{ .Username }}"
        placeholder="{{ .UsernamePrompt }}" tabindex="1"
        {{ if not .Username }}autofocus{{ end }} autocomplete="username" />
    </div>

    <div class="theme-form-row">
      <label for="password">Password</label>
      <input type="password" id="password" name="password"
        placeholder="Password" tabindex="2"
        {{ if .Username }}autofocus{{ end }} autocomplete="current-password" />
    </div>

    <button type="submit" class="dex-btn theme-btn-success" tabindex="3"
      onclick="this.disabled=true;this.form.submit();">
      Log In
    </button>
  </form>

  {{ if .BackLink }}
    <div class="dex-subtle-text">
      <a href="{{ .BackLink }}" class="theme-link-back">&larr; Back</a>
    </div>
  {{ end }}
</div>

{{ template "footer.html" . }}
